[Misc]
Name=Mail Serializer
Comment=An Akonadi serializer plugin for mail objects

[Plugin]
Type=message/rfc822,message/news,text/x-vnd.akonadi.note
X-Akonadi-Class=legacy;default;KMime::Message*;
X-KDE-Library=akonadi_serializer_mail
X-KDE-ClassName=Akonadi::SerializerPluginMail
