[Misc]
Name=Mail Serializer
Name[ar]=مُسلسِل البريد
Name[az]=Məktubların saxlanılması
Name[bg]=Сериализатор на поща
Name[bs]=Serializator maila
Name[ca]=Serialitzador del correu
Name[ca@valencia]=Serialitzador del correu
Name[cs]=Seřazovač pošty
Name[da]=Serieordning af post
Name[de]=E-Mail-Serialisierung
Name[el]=Σειριακοποιητής αλληλογραφίας
Name[en_GB]=Mail Serialiser
Name[eo]=Poŝta Seriigilo
Name[es]=Serializador de correo
Name[et]=Kirjade jadasti
Name[eu]=Posta serializatzailea
Name[fi]=Sähköpostiserialisoija
Name[fr]=Sérialiseur de courriers électroniques
Name[ga]=Srathóir Ríomhphoist
Name[gl]=Serializador de correo
Name[he]=מפשט דואר
Name[hi]=मेल सीरियलाइज़र
Name[hu]=Levélkezelő
Name[ia]=Divulgator partial de posta
Name[id]=Serializer Mail
Name[ie]=Serialisator de postage
Name[is]=Póströðunarviðbót
Name[it]=Serializzatore posta elettronica
Name[ja]=メール用シリアライザ
Name[ka]=ელფოსტის სერიალიზატორი
Name[kk]=Пошта тізбектеуіші
Name[km]=ម៉ាស៊ីន​បោះពុម្ព​សំបុត្រ
Name[ko]=메일 시리얼라이저
Name[lt]=Pašto serializatorius
Name[lv]=E-pasta serializētājs
Name[nb]=E-postserialisator
Name[nds]=Nettpost-Reegmoduul
Name[ne]=पत्र मलानकर्ता
Name[nl]=E-mail-serialisator
Name[nn]=E-postserialisator
Name[pa]=ਮੇਲ ਸੀਰੀਅਲਾਈਜ਼ਰ
Name[pl]=Szeregowanie poczty
Name[pt]=Serialização de E-Mail
Name[pt_BR]=Serializador de mensagem
Name[ro]=Serializator de poștă
Name[ru]=Сохранение писем
Name[sa]=मेल सीरियलाइजर
Name[sk]=Serializátor pošty
Name[sl]=Razvrščevalnik pošte v zaporedje
Name[sr]=Серијализатор поште
Name[sr@ijekavian]=Серијализатор поште
Name[sr@ijekavianlatin]=Serijalizator pošte
Name[sr@latin]=Serijalizator pošte
Name[sv]=E-postserialisering
Name[tr]=E-posta Sıralandırıcı
Name[uk]=Серіалізатор пошти
Name[x-test]=xxMail Serializerxx
Name[zh_CN]=邮件序列化器
Name[zh_TW]=信件序列器
Comment=An Akonadi serializer plugin for mail objects
Comment[ar]=ملحقة سَلسَلة «أكونادي» لكائنات البريد
Comment[az]=Akonadi üçün məktubların saxlanılması qoşması
Comment[bg]=Програма на Akonadi за сериализация на обекти на е-поща
Comment[bs]=Akonadi dodatak serializatora za mail objekte
Comment[ca]=Un connector de serialització de l'Akonadi per a objectes del correu
Comment[ca@valencia]=Un connector de serialització d'Akonadi per a objectes del correu
Comment[cs]=Modul seřazování pro Akonadi pro objekty pošty
Comment[da]=Et Akonadi-plugin til serieordning af postobjekter
Comment[de]=Akonadi-Modul zur Serialisierung von E-Mail-Objekten
Comment[el]=Ένα πρόσθετο σειριακοποιητή Akonadi για αντικείμενα αλληλογραφίας
Comment[en_GB]=An Akonadi serialiser plugin for mail objects
Comment[eo]=Akonadi seriigila kromprogramo por retpoŝtaj objektoj
Comment[es]=Un complemento serializador de Akonadi para objetos correo
Comment[et]=Akonadi kirjaobjektide jadastamisplugin
Comment[eu]=Posta objektuetarako Akonadiren plugin serializatzaile bat
Comment[fi]=Akonadi-serialisoijaliitännäinen sähköpostiobjekteille
Comment[fr]=Un module externe Akonadi pour la sérialisation des courriers électroniques
Comment[ga]=Breiseán srathóra Akonadi le haghaidh ríomhphoist
Comment[gl]=Un complemento de serialización de Akonadi para obxectos correo.
Comment[he]=תוסף פישוט של Akonadi לעצמי דואר
Comment[hi]=मेल ऑब्जेक्ट्स के लिए एकोनाडी सीरियलाइज़र प्लगइन
Comment[hu]=Akonadi-modul levelek kezeléséhez
Comment[ia]=Un plug-in pro divulgator partial de Akonadi pro objectos de posta
Comment[id]=Sebuah plugin serializer Akonadi untuk obyek mail
Comment[ie]=Un plugin de Aconadi por serialisar objectes de e-postage
Comment[is]=Akonadi röðunarviðbót fyrir tölvupóst
Comment[it]=Un'estensione di Akonadi per la serializzazione di posta elettronica
Comment[ja]=メールオブジェクトのための Akonadi シリアライザプラグイン
Comment[ka]=Akonadi-ის სერიალიზერის დამატება ელფოსტის ობიექტებისთვის
Comment[kk]=Akonadi пошта нысандарының тізбектеуіш плагині
Comment[km]=កម្មវិធី​ជំនួយ​កម្មវិធី​បោះពុម្ព Akonadi សម្រាប់​វត្ថុ​សំបុត្រ
Comment[ko]=메일 객체용 Akonadi 시리얼라이저 플러그인
Comment[lt]=Akonadi serializatoriaus įskiepis pašto objektams
Comment[lv]=Akonadi e-pasta objektu serializēšanas spraudnis
Comment[nb]=Et Akonadi programtillegg for serialisering av e-postobjekter
Comment[nds]=Akonadi-Inreegmoduul för Nettbreven
Comment[ne]=पत्र वस्तुका लागि एउटा एकोनाडी मिलानकर्ता प्लगइन
Comment[nl]=Een Akonadi serialisator-plug-in voor e-mail-objecten
Comment[nn]=Eit Akonadi-serialisatortillegg for e-postobjekt
Comment[pa]=ਮੇਲ ਆਬਜੈਕਟ ਲਈ ਅਕੌਂਡੀ ਸੀਰੀਲਾਈਜ਼ਰ
Comment[pl]=Wtyczka Akonadi do szeregowania obiektów pocztowych
Comment[pt]=Um 'plugin' de serialização do Akonadi para os objectos de e-mail
Comment[pt_BR]=Um plugin de serialização do Akonadi para objetos de mensagem
Comment[ro]=Modul de serializare Akonadi pentru obiecte poștă
Comment[ru]=Модуль сохранения писем для Akonadi
Comment[sa]=मेलवस्तूनाम् कृते एकः Akonadi serializer प्लगिन्
Comment[sk]=Plugin serializátora Akonadi pre poštové objekty
Comment[sl]=Akonadijev vstavek za razvrščanje predmetov pošte v zaporedje
Comment[sr]=Аконадијев прикључак серијализатора за објекте поште
Comment[sr@ijekavian]=Аконадијев прикључак серијализатора за објекте поште
Comment[sr@ijekavianlatin]=Akonadijev priključak serijalizatora za objekte pošte
Comment[sr@latin]=Akonadijev priključak serijalizatora za objekte pošte
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av e-postobjekt
Comment[tr]=E-posta nesneleri için bir Akonadi sıralandırıcısı
Comment[uk]=Додаток серіалізації Akonadi для об'єктів пошти
Comment[x-test]=xxAn Akonadi serializer plugin for mail objectsxx
Comment[zh_CN]=对邮件对象进行序列化的 Akonadi 插件
Comment[zh_TW]=信件物件的 Akonadi 序列器外掛程式

[Plugin]
Type=message/rfc822,message/news,text/x-vnd.akonadi.note
X-Akonadi-Class=legacy;default;KMime::Message*;
X-KDE-Library=akonadi_serializer_mail
X-KDE-ClassName=Akonadi::SerializerPluginMail
